
Source:       xfunky
Priority:     extra
Section:      misc
Maintainer:   talktoedgar@gmail.com
Version:      1.0
Build-Depends: ghc, cabal-install, libxft-dev, libx11-dev, libxinerama-dev, libxrandr-dev, libxml2-dev 

Package: xfunky
Architecture: amd64
Depends: libxft2, libx11-6, libxinerama1, libxrandr2, libxml2
Provides: xfunky
Description: Tiling windows manager integrated with KDE
