
[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=xfunky
Exec=xfunky
NoDisplay=true
X-KDE-WMName=xfunky
X-KDE-Autostart-Phase=WindowManager
X-KDE-Provides=windowmanager
X-KDE-Autostart-Notify=false
Name[en]=xfunky
